@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
html, head, body {
    margin: 0;
    padding: 0;
}
button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  appearance: none;
  background-color: inherit;
}
.menu {
    position: absolute;
    left: 90%;
    top: 175px;
}
button {
    transition: transform 0.5s ease-in-out;
}
button:hover {
    transform: rotate(360deg);
}
body {
    background-color: black;
    padding: 0;
    width: 100%;
    margin: 0;
}
section {
    background-color: #2C2D31;
    padding: 0;
    width: 100%;
    margin: 0;
}
h1 {
    background-color: #526D82;
    color: #eceff1;
    border: 1px solid black;
    padding: 2px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    font-family: fantasy;
}
h2 {
    background-color: #526D82;
    color: #eceff1;
    border: 1px solid black;
    padding: 2px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 85%;
    font-family: fantasy;
}
a {
    color: #eceff1;
    
}
code {
    color: white;
    background-color: #37474f;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
    border-radius: 15px;
    margin: 5px;
    border: 1px solid black;
    font-family: serif;
    text-transform: capitalize;
    font-size: 100%;
}
p {
    color: silver;
    font-family: 'Merriweather', serif;
    text-align: left;
    font-size: 85%;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 15px;
    font-family: monospace;
    color: silver;
    font-size: 100%;
}
section ul {
    color: silver;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
section li {
    list-style-type: number;
    border-bottom: 1px solid silver;
    margin-bottom: 25px;
    margin-left: 30px;
    border-radius: 5px;
    font-size: 100%;
}
blockquote {
    border-left: 3px solid silver;
    border-radius: 5px;
    padding-left: 5px;
    width: 80%;
    font-size: 100%;
}
.content {
  padding: 0;
  border: none;
  display: none;
  overflow: hidden;
  background-color: black;
}
.mbimg {
    width: 20px;
    height: 20px;
}
span ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  background-color: #2C2D31;
}

span li {
  float: left;
}

span li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

span li a:hover:not(.active) {
  background-color: #ddd;
}

span li a.active {
  color: white;
  background-color: #04AA6D;
}