<!doctype html>
<html>
<head>
    <title>compatibility-list</title>
    <link rel="stylesheet" href="/compat-list-mali/assets/css/style.css" type="text/css">
    <script src="/compat-list-mali/assets/js/script.js"></script>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/compat-list-mali/assets/images/strato.png" type="image/png" sizes="512x512">
    <meta name="audience" content="all" />
    <meta name="rating" content="1" />
    <meta name="description" content="a mali gpu only compatibility list of nintendo switch games for strato switch emulator android." />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="skyline, strato, emulator, android, compatibility, list, mali, gpu, switch" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Strato's Compatibility List" />
    <meta property="og:url" content="https://hakureii.github.io/" />
    <meta property="og:description" content="Strato's compatibility list, a list of working/non-working games for Mali/non Snapdragon gpu."/>
    <meta property="og:image" content="/compat-list-mali/assets/images/strato.png" />
</head>
<body onload="startLoading()">
<div id="loading"><img src="/compat-list-mali/assets/images/loading.gif"></div>
<section style="display: none;" id="mainList" class="animate-bottom">

     {{ content }}

</section>
</body>
</html>
