<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>compatibility-list</title>
    <link rel="stylesheet" href="/compat-list-mali/assets/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/compat-list-mali/assets/images/strato.png" type="image/png" sizes="512x512">
    <meta name="audience" content="all" />
    <meta name="rating" content="1" />
    <meta name="description" content="a mali gpu only compatibility list of nintendo switch games for strato switch emulator android." />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="skyline, strato, emulator, android, compatibility, list, mali, gpu, switch" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Strato's Compatibility List" />
    <meta property="og:url" content="https://hakureii.github.io/" />
    <meta property="og:description" content="Strato's compatibility list, a list of working/non-working games for Mali/non Snapdragon gpu."/>
    <meta property="og:image" content="/compat-list-mali/assets/images/strato.png" />
</head>
<h1 id="strato-compaitbility-list"><a href="https://github.com/strato-emu/strato"><img src="/compat-list-mali/assets/images/strato.png" alt="strato" id="logo"></a>Strato compaitbility list<button type="button" id="menum" onclick="mainMenu()">🔍</button>
</h1>

<script>
    var testers = "wumbee tanos yusef"
</script>

<div style="display: none; position: fixed; overflow: hidden;" id="menu">
<input type="text" id="keywords" onkeyup="search()" placeholder="Search for games.." title="search">
</div>
<p id="total"></p>
<section id="listMain">

     {{ content }}

</section>
<footer>
    <p style="text-align: center;"><b>Testers<b></p>
<p style="text-align: center; word-spacing: 20px;" id="tester"><sub>Wumbee  tanos  yusef</sub></p><br>
<p style="text-align: center;"><b>Maintainers<b></p>
<p style="text-align: center; word-spacing: 30px;"><sub>Wumbee  Hakurei</sub></p>
</footer>
<br><br>
<!-- <script>
    onload();
</script> -->
<script src="/compat-list-mali/assets/js/script.js"></script>
</body>
</html>
</body>
</html>
