<!doctype html>
<html>
<head>
    <title>compatibility-list</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/assets/images/strato.png" type="image/png" sizes="512x512">
    <meta name="audience" content="all" />
    <meta name="rating" content="1" />
    <meta name="description" content="a mali gpu only compatibility list of nintendo switch games for strato switch emulator android." />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="skyline, strato, emulator, android, compatibility, list, mali, gpu, switch" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Strato's Compatibility List" />
    <meta property="og:url" content="https://hakureii.github.io/" />
    <meta property="og:description" content="Strato's compatibility list, a list of working/non-working games for Mali/non Snapdragon gpu."/>
    <meta property="og:image" content="/assets/images/strato.png" />
</head>
<body>
    <p style="text-align: center; margin-bottom: 0px; margin-top: 0px;"><a href="https://discordapp.com/users/Wumbee#5124"><img src="/assets/images/wum-kun.png" style="vertical-align: middle; width: 10%; height: 10%; border-radius: 50%;" alt="wumbee"></a><strong style="margin-right: 25px; margin-left: 25px; border: 1px solid black; background-color: #526D82; padding: 3px; border-radius: 20px;">Contributors</strong><a href="https://discordapp.com/users/hakurei#2177"><img src="/assets/images/shiori-shiomiya.jpg" style="vertical-align: middle; width: 10%; height: 10%; border-radius: 50%;" alt="shiori"></a></p>
     {{ content }}
</body>
</html>
